html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Squada One', cursive;
    background-color: rgba(218, 218, 218, 0.301);
}

.container {
    max-width: 1200px;
    display: flex;
    /* border: 1px solid black; */
    margin: 0 auto 50px auto;
    justify-content: space-between;
    padding: 2rem;

}

.grid,
.calendar-display {
    width: 600px;
    margin: 0 auto;
}

.results {
    font-size: 4rem;
}

.btn {
    width: 85px;
    height:85px;
    background-color: rgb(237, 240, 243);
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(14, 14, 14, 0.534);
}

select {
    width: 100%;
    height: 40px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.month-year-header {
    margin-bottom: 0;
    background-color: rgb(6, 132, 216);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.month-year-header p {
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.year-month-form {
    margin-bottom: 20px;
}

.numbers{
    background-color: rgb(184, 211, 238);
}

.numbers:hover {
    background-color: rgb(6, 132, 216);
    color: #fff;
}





.submit-btn {
    width: 170px;
    height: 40px;
    font-size: 2rem;
    outline: none;
    border: none;
    color:#fff;
    background-color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.submit-btn:hover {

    background-color: rgb(6, 132, 216);
}